@import "tailwindcss";

:host {
  display: block;
}

:host ::ng-deep .sidebar-search .app-input-field {
  min-height: 40px;
  border-radius: 10px;
  background-color: var(--card-bg);
  font-size: 13px;
}